/* Tirando qualquer tipo de definição de margin interna ou externa */
*{
    margin:0;
    padding:0;
}

/* Definindo uma cor e a centralização do body inicial */
body{
    background-color: #e52020;
    text-align:center;
}



/* Colocando uma parede que simula queijo derretido */
.cheese-wave {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #f9d423, #f5b700);
  box-shadow: inset 0 20px 40px rgba(255, 214, 79, 0.6);
  transition: top 1.5s ease-in-out;
  pointer-events: none;
  z-index: 5;
  overflow: hidden;

}

.cheese-wave.active {
  top: 0;
}

.cheese-drip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
}



/* Setando a imagem */
main> img{
    height: 28vh;
}

/* Setnado o h1 */
h1{
    margin-bottom: 8vh;
    color: #f9cb43;
    font-weight: 800;
}

/* Definindo o main */
main{
    margin-top: 8vh;
}

/* Definindo as propriedades da div dos inoputs */
main > div {
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

/* Definindo propriedades dos dois inputs principas */
input{
    width: 60vw;
    height: 6vh;
    border-radius: 12px;
    background-color: #f9cb43;
    border:none;
    box-shadow: 1px 1px 1px  #000;
    margin-bottom: 3vh;
    font-size: 12pt;
    padding-left: 12px;
}

/* Definindo as caracteristicas das palavras que estão dentro dos inputs */
input::placeholder{
    color:#000;
    font-size: 12pt;
    padding-left: 10px;
    font-weight: 700;
}

/* Definndo caracteristica do botao */
button{
     width: 52vw;
    height: 6vh;
    border-radius: 12px;
    background-color: #fba518;;
    border:none;
    box-shadow: 1px 1px 1px  #000;
    margin-bottom: 3vh;
}

/* Definindo caracteristica do p dentro do botão de entrar */
button > p{
    color: #e52020;
    font-size: 12pt;
    padding-left: 10px;
    font-weight: 800;
}

/* Editando as caracteristicas de local do esqueceu a senha e novo usuaio */
nav{
    margin-top: 1vh;
    display: flex;
    flex-direction:column;
}

/* Editando o esqueceu a senha */
nav>p{
    color: #000;
    font-size: 13pt;
    font-weight: 700;
}

/* Editadno o novo usuario */
h3{
    margin-top: 3vh;
    color: #000;
    font-size: 13pt;
    font-weight: 700;

}

/* adicionando um modal que sobrepnha toda a tela */
.EsqueceuSenha{
    position:absolute;
    top:0;
    left:0;
    background-color: #f9cb43d7;
    height: 100vh;
    width: 100vw;
}

/* definindo o modal como 'invisivel' */
.modal{
    display: none;
    visibility: hidden;
}

/* Criando o quadro onde terá as informações */
#EsqueceuSenhaQuadro{
     background-color: #f9cb43;
     width: 90vw;
     height:80vh;
     margin-top: 10vh;
     margin-left: 5vw;
        border-radius:20px;
}

/* Definindo o p, o texto */
#EsqueceuSenhaQuadro > p{
    margin-left:76vw;
    padding-top:2vh;
    font-size: 20pt;
}

/* Defiinndo a imagem */
#garota_pc{
    height: 20vh;
    width: 70vw;
    border-radius:20px;
    margin: 40px;
}

#redefinicaoSenha > input{
    width: 60vw;
    height: 6vh;
    border-radius: 12px;
    background-color: #e52020;
    border:none;
    box-shadow: 1px 1px 1px  #000000;
    margin-bottom: 4vh;
    margin-left: 12vw;
    margin-top:5vh;
    font-size: 12pt;
    padding-left: 12px;
}

#redefinicaoSenha > input::placeholder{
    color:#f0e798;
    font-size: 12pt;
    padding-left: 10px;
    font-weight: 700;
}